<div  *ngIf="show[0]" class="movie-container">
     <div class="movie-details my-5">
      <div class="row justify-content-center">
        <div class="col-md-2">
          <img src="{{show[0].movie_id?.poster}}" class="img-fluid" alt="Movie Poster" style="width: 200px;height: 200px;">
        </div>
        <div class="col-md-2">
          <h1>{{show[0].movie_id?.title}}</h1>
          <p>Release Date: {{show[0].movie_id?.releaseDate}}</p>
          <p>Genre: {{show[0].movie_id?.genre}}</p>
          <p>Rating:⭐⭐⭐⭐⭐</p>
        </div>
      </div>
   
     </div>
     <div class="theater-details my-5">
      <div class="row justify-content-center">
      
        <div class="col-md-4">
          <h1 class="text-info">{{show[0]?.theater_id?.name}}</h1>
          <p>City:{{show[0]?.city}}</p>
          <p>Address: {{show[0]?.theater_id?.address}}</p>
          
        </div>
      </div>
   
     </div>
  <ul class="showcase col-md-3 mx-auto"  >
    <li>
      <div class="seat"></div>
      <small>Available</small>
    </li>
    <li>
      <div class="seat selected"></div>
      <small>Selected</small>
    </li>
    <li>
      <div class="seat occupied"></div>
      <small>Occupied</small>
    </li>
  </ul>
  
  <div class="container col-md-3 mx-auto">
    <div class="screen mx-auto"></div>
    <div *ngFor="let item of show[0]?.theater_id?.Seats" class="row mx-auto">
      <div class="row-label">{{ item.row }}</div>
      <button *ngFor="let seat of item.seatNumber" id="{{item.row+seat}}"  [disabled]="isSeatFilled(item.row, seat)"  [class.occupied]="isSeatFilled(item.row, seat)" (click)="toggleSeat(item.row + seat)" class="seat"> 
      </button>
    </div>

    <button class="btn btn-danger mt-5" (click)="confirmSeats()">Confirm</button>
  </div>

</div>

<div *ngIf="!show[0]" class="text-center">
  <h1>No Show Screening</h1>
</div>