<div class="container-fluid border border-1 mt-4 px-5">
    <div class="row d-flex  ">
      <div class="col-md-auto">
        <img src="{{movieData?.poster}}" class="img-fluid" style="height: 400px;" alt="">
      </div>
        <div class="col-md-3">
          <h1>Title:{{movieData?.title |titlecase}}</h1>
          <h5>Genre:{{movieData?.genre}}</h5>
          <h4>Release Date: {{movieData?.releaseDate | date:'dd-MMM-yyyy'}}</h4>

        </div>
    </div>
</div>
<div *ngIf="!theaters.length" class="container">
          <h1>No Theaters available</h1>
</div>
<div *ngIf="theaters.length" class="container mt-3 ">
  <h2>Theaters in {{city}}</h2>
    <div *ngFor="let item of theaters" class="row d-flex my-4 border border-3 shadow-lg">
          <div class="theater-details col-md-4">
            <a class="link-primary ">{{item?.name}}</a>
            <p>Address:{{item?.address}}</p>
        
          </div>
          <div class="theater-timings col-md-auto">
            <h4>Timings</h4>
            <button *ngFor="let time of item?.timings" class="btn border border-2 rounded-3 mx-3" (click)="bookSeats(item._id,movieData._id,time)">{{time }}</button>
          </div>
    </div>
</div>