.card {
    border: none;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  .card-img-top {
    border-radius: 15px 15px 0 0;
    object-fit: cover;
    height: 250px;
  }
  .card-body {
    padding: 15px;
  }
  .card-title {
    font-size: 1.25rem;
    font-weight: bold;
  }
  .card-text {
    font-size: 0.9rem;
    color: #555;
  }
  .rating {
    color: #f39c12;
  }
  .genre {
    font-style: italic;
    color: #777;
  }
  .btn {
    margin-right: 5px;
  }

  .hide{
    display: none;
  }